.hello{
    color: blueviolet;
}

/* element sector
 h1{
    color:red
 } */
/* class selector */
 
.heading2{
    color: green;
 }

 /* id selector */

 .heading3{
    color: aqua;
}

.box1{
    height: 10rem;
    width: 10rem;
    background-color: blue;
}

.box2{
    height: 10rem;
    width: 10rem;
    background-color: green;
}

.box3{
    height: 10rem;
    width: 10rem;
    background-color: red;
}

.box-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* flex-direction: row;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: url('./wallzx2ww.jpg');
    background-position: center;
    background-size: cover;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    width: 100VM;
    height: 8rem;
    /* background-color: #ee8eee; */
    display: flex;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.021),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.04),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.047),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.057),
    100px 100px 80px rgba(0, 0, 0, 0.08);
}

.logocontainer{
    width: 50%;
    padding: 1rem;
}

.nav-links{
    width: 50%;
    display: flex;
    padding: 1rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px solid blueviolet;
    font-weight: bold;
    border-radius: 8px;
    color:blueviolet  
}

.nav-items:hover{
    background-color: blueviolet;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}

.form-container{
    height: 80vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.008),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.013),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.018),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.026),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.04),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.input-field{
    width: 70%;
    padding: 1rem;
    outline: 0px;
    border: 0px;
    color: blueviolet;
    font-weight: bold;
    background-color: #f5f5f7;
}

.input-field:focus{
    border-bottom: 2px solid blueviolet;
}

input-btn{
    width: 75%;
    background-color: blueviolet;
    color:#fff;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: bold;
}